<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="left_bx1">
            <div class="content">
                <form  method="post">
                    <h3>Login</h3>
                    <div class="card">
                        <label for="name"></label>
                        <input type="text" name="user_name" placeholder="Enter Your username" required>
                    </div>
                    <div class="card">
                        <label for="password"></label>
                        <input type="password" name="user_password" placeholder="Enter Your Password" required>
                    </div>
                    <input type="submit" value="Login" class="submit">
                    <div class="check">
                        <input type="checkbox" id=""><span>Remeber Me</span>
                    </div>
                    <p>Don't have account yet? <a href="signup">Sign Up</a></p>
                </form>
            </div>
        </div>
        <div class="right_bx1">
            <img src="/img/login.png" alt="">
            <h3>Incorrect Password</h3>
        </div>
    </header>
    



    <script src="login.js"></script>
</body>
</html>